body{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: Arial;
    font-weight: 520;
}
h1{
    font-size: 32px;
    font-family:sans-serif;
    color: #ffffff;
}
.Header{
    background-color:rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 180px;
    align-items: center;
}
.hlist{
    display: flex;
    gap: 35px;
    margin-right: 325px;
}
.hero{
    background-color: #1f2937;
    flex-wrap: wrap;
    padding-left: 180px;
    display: flex;
    gap: 150px;
    padding-top:80px;
    padding-bottom: 40px;
}
.herotext{
    font-size: 48px;
    font-family:sans-serif;
    color: #f9faf8;
    font-weight: bold;
    padding-top: 18px;
}
.sectext{
    font-size: 18px;
    color: #e5e7eba3;
    font-family: 'Roboto';
}
button{
    background-color: #3882f6;
    color: #f9f8fa;
    font-size: 18px;
    border-radius: 8px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    width: 500px;
}
img{
    width: 425px;
    height: auto;
    border-radius:12px ;
    padding-top: 5px;
}